{% extends "grumblr/base_user.html" %}

{% block navbar %}
<form class="navbar-form navbar-right" action="{% url 'logout' %}" method="get">
    <div class="form-group">
        <p class="float-left hiuser">Hi {{user.username}}!</p>
        <a class="my-account" href="{% url 'account' %}">My account</a>
        <input class="btn btn-default logout-button" type='submit' value="LOG OUT">
    </div>
</form>
{% endblock %}

{% block navcell %}
<ul class="nav nav-pills nav-justified" >
    <li class="active"><a href="{% url 'account' %}">Home</a></li>
    <li><a href="{% url 'home1' %}">Blog</a></li>
    <li><a href="{% url 'followstream' %}">FollowStream</a></li>
    <li><a id="qu" href="#">Question</a></li>
</ul>
{% endblock %}

{% block mainbody %}
    <div class="row relative-downmove">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <div class="content-registration float-left">
                <h2 class="profile-title"><span class="pagetitle-firstletter">P</span><span class="pagetitle-otherletters">ROFILE</span></h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-6">
            <div class="content-registration float-left">
                <img class="round-border downmove1 cut-off" src="../../static/images/cutoff.png" alt="cutoff" height="10" width="600"/>
            </div>
        </div>
    </div>

    <div class="row movetop-text">
        <div class="col-md-2">
        </div>

        <div class="col-md-5 upmove1">
            <div class="content-post2 float-left movetop-text3">
                <div class="content-record2 float-left">
                    {{choose_user.username}}
                </div>
            </div>
        </div>


        {% if choose_user in follow_list %}
        <div class="content-followbutton moveright-text2 movetop-text4">
            <a class="btn btn-default round-border unfollow-button"
                    href="{% url 'unfollow' choose_user.id %}">UnFollow</a>
        </div>
        {% elif user.username == choose_user.username %}
        <div class="content-followbutton moveright-text2 movetop-text4">
            <a class="btn btn-default round-border follow-button" href="{% url 'edit' %}" role="button">Edit</a>
        </div>
        {% else %}
        <div class="content-followbutton moveright-text2 movetop-text4">
            <a class="btn btn-default round-border follow-button" href="{% url 'follow' choose_user.id %}">Follow</a>
        </div>
        {% endif %}


        <div class="col-md-2 flow-left movetop-text3">
          <div class="content-postimg2 float-left">
            {% if my_user.photo %}
            <img class="moveright-text profile-photo round-border" src="{% url 'photo' choose_user.id %}"
                 alt="{{ choose_user.first_name }} {{ choose_user.last_name }}" height="100" width="100"/>
            {% endif %}
          </div>
        </div>
    </div>

    <div class="row movetop-text3">
        <div class="col-md-3">
        </div>

        <div class="col-md-5 upmove1">
            <p class="profile-info changerow" >Firstname: {{choose_user.first_name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lastname: {{choose_user.last_name}}<br><br>
            Email: {{choose_user.email}}<br><br>
            Age: {{my_user.age}}<br><br>
            Bio: {{my_user.bio}}<br><br>
            Post: {{choose_user.blog_set.count}}
            </p>
        </div>
    </div>


    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <div class="scrollbar round-border transparent">

            {% for bl in blog_his %}
            <div>
            <div class="content-new float-left round-border">
                <div class="content-writer float-left">
                    {% if my_user.photo %}
                    <img class="float-left round-border" src="{% url 'photo' choose_user.id %}"
                         alt="{{ choose_user.first_name }} {{ choose_user.last_name }}" height="80" width="80"/>
                    {% endif %}
                    <a class="stream-username" href="{% url 'profile' bl.user.id %}">{{choose_user.username}}</a>
                </div>
                <div class="content-text float-left">
                    <p class="stream-content changerow">{{bl.content}}</p>
                </div>
                <div class="content-time float-right steam-posttime">
                    <p>{{bl.pub_date}}</p>
                    <button id='comment-toggle{{ bl.id }}' class='btn btn-default'>Comment</button>
                </div>
            </div>

            <div hidden id='comment-area'>
                <div class='form-group comment-btn'>
                    <div class='col-sm-8'>
                        <input id='commentFieldf_{{ bl.id }}' class='moveright-comment form-control' placeholder='Input comment...' type='text'>
                    </div>
                    <div class='col-sm-2'>
                        <button id='commentbtnf' btn-id="{{ bl.id }}" class="float-left btn btn-default moveleft-text2 movetop-comment comment-button">Comment</button>
                    </div>
                </div>
                {% for comment in bl.comment_set.all %}
                    <div class="content2 float-left round-border moveright-comment3">
                    <div class="content-writer2 float-left">
                        <img  class="float-left round-border" src="{% url 'photo' comment.com_user.id %}" alt="photo" height="50" width="50"/>

                        <a class="comment-user" href="{% url 'profile' comment.com_user.id %}">{{comment.com_user.username}}</a>
                    </div>
                    <div class="content-text2 float-left comment-comment">
                        <p>{{comment.text}}</p>
                    </div>
                    <div class="content-time2 float-right movetop-text3 comment-time">
                    <p>{{comment.com_time}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            </div>

            {% endfor %}
        </div>
      </div>
    </div>
{% endblock %}