{% extends "grumblr/registration.html" %}

{% block mainbody %}
    <div class="row relative-downmove">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <div class="content-registration float-left">
                <h2 class="reset-title">
                    <span class="pagetitle-firstletter">P</span><span class="pagetitle-otherletters">ASSWORD RESET</span>
                </h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-6">
            <div class="content-registration float-left">
                <img class="downmove1 round-border cut-off" src="../../static/images/cutoff.png" alt="cutoff" height="10" width="600"/>
            </div>
        </div>
    </div>

     <div class="row movetop-regis">
        <div class="col-md-2">
        </div>
        <div class="col-md-10">
            <div class="red-color movetop-text3">
            {% for error in form.non_field_errors %}
                <h4 class="moveright-text5">{{error}}</h4>
            {% endfor %}
            </div>
        </div>
     </div>

    <div class="row movetop-regis">
        <div class="col-md-2">
        </div>
        <div class="col-md-10">
             <form enctype="multipart/form-data" class="form-horizontal" action="{% url 'reset' name token %}" method="post">

                <div class="form-group">
                    <div class="col-sm-10">
                        <table>
                        <tr>
                          <td>{{ form.newpassword1 }}</td>
                          <td class="red-color">{{ form.newpassword1.errors }}</td>
                        </tr>
                        </table>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-10">
                        <table>
                        <tr>
                          <td>{{ form.newpassword2 }}</td>
                          <td class="red-color">{{ form.newpassword2.errors }}</td>
                        </tr>
                        </table>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input class="btn btn-default reset" type="submit" value="Reset password">
                    </div>
                </div>
                {% for field in form.hidden_fields %}
                {{field}}
                {% endfor %}
                {% csrf_token %}
            </form>
        </div>
    </div>
{% endblock %}